/.vs
/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
/inference
mAP_test/.vs/mAP_test/v17/Browse.VC.db-shm
mAP_test/.vs/mAP_test/v17/Browse.VC.db-wal
mAP_test/.vs/mAP_test/v17/Browse.VC.opendb
