/.vs
/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
mAP_tool/inference/lib/opencv_world490d.dll
mAP_tool/inference/lib/opencv_world490d_1.dll
model/ocr_LPRNetS1B.aix
model/yolov7.aix
